<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <h3>지도로 보기</h3>
      <ul class="nav nav-list" style='margin-bottom:2em;'>
        <li class="nav-header">보고 싶은 데이터를 클릭하세요</li>
        <li class='<%= 'active' if @type == 'antibiotics' %>'>
          <%= link_to '심장충격기', places_path(type: :aed), data: { type:'antibiotics', title: '항생제처방률이란?', content: "감기와 같은 질병은 바이러스가 원인인 경우가 많아 항생제를 복용해도 치료가 빨라지거나 증상이 급격히 좋아지지 않습니다. 대부분 감기에는 항생제가 불필요하므로 항생제를 꼭 필요한 경우에만 처방하는 의료기관이 좋은 의료기관입니다." } %>
        </li>
      </ul>

      <ul class="nav nav-list">
        <li class="nav-header">지역 선택</li>
        <li>현재 강남구만 제공 가능합니다.</li>
      </ul>
    </div><!--/.well -->

    <p>데이터 출처 : <%= link_to '강남구 보건소', 'http://health.gangnam.go.kr/open_content/', target: '_blank' %></p>
    <p>데이터 추출 : <%= link_to '@amoebaj', 'http://twitter.com/amoebaj', target: '_blank' %></p>
  </div><!--/span-->
   <div class="span9">
    <section id='map_section'>
      <div id='map_canvas' class='map_view' data-url='<%= places_path(type: :aed) %>'></div>
      <div id='map_info'></div>
    </section>
    </div>
</div><!--/row-->

<%= content_for :script_in_page do %>
  <script id="map_info_template" type="text/x-jquery-tmpl">
    <div class='inner'></div>
  </script>
  <script type='text/javascript'>
    $(document).ready(function() {
      window.map = new Map({
        center: new google.maps.LatLng(37.506049, 127.034225),
        canvas: $('#map_canvas'),
        categories: ['pos'],
        data_url: '<%= places_path(type: :aed) %>',
        type: 'point',
      });
      map.initialize();
    })
  </script>
<% end %>