<div class="row">
  <div class="col-md-3">
    <div class="well sidebar">
      <h3>안심병원 <small><a href="/hospitals">표로 보기</a></small></h3>
      <ul class="nav nav-sidebar" style='margin-bottom:2em;'>
        <li style='margin-left:1em;'><span class="text-muted"><small>보고 싶은 데이터를 클릭하세요</small></span></li>
        <li class='<%= 'active' if @type == 'antibiotics' %>'>
          <%= link_to '항생제처방률', hospitals_path(type: 'antibiotics'), data: { container: 'body', toggle: 'hover', type:'antibiotics', title: '항생제처방률이란?', content: "감기와 같은 질병은 바이러스가 원인인 경우가 많아 항생제를 복용해도 치료가 빨라지거나 증상이 급격히 좋아지지 않습니다. 대부분 감기에는 항생제가 불필요하므로 항생제를 꼭 필요한 경우에만 처방하는 의료기관이 좋은 의료기관입니다." } %>
        </li>
        <li class='<%= 'active' if @type == 'injections' %>'>
          <%= link_to '주사제처방률', hospitals_path(type: 'injections'), data: { container: 'body', toggle: 'hover', type:'injections', title: '주사제처방률이란?', content:"주사제는 알약을 삼킬 수 없거나, 응급환자처럼 치료효과가 빨리 나타나야 하는 경우 등에만 사용하는 의약품입니다. 환자가 알약을 먹는 데 문제가 없다면 주사제가 먹는 약보다 유리한 점은 없습니다. 주사는 쇼크 등의 부작용이 발생할 가능성이 알약에 비해 높습니다. 따라서 주사제는 꼭 필요한 환자에게 신중하게 사용하는 의료기관이 좋은 의료기관입니다." } %>
        </li>
        <!--<li><a href='#'>진료결과(암수술사망률) - 준비중</a></li>-->
      </ul>

      <ul class="nav nav-sidebar" style='margin-left:1em; margin-right:3em;'>
        <li><span class="text-muted"><small>지역  선택</small></span></li>
        <li><%= select_tag(:search_city, options_for_select(['시/도'] + City.all.distinct(:city)), {:class=>"form-control"}) %></li>
        <li><%= select_tag(:search_subcity, options_for_select(['시/군/구']), {:class=>"form-control"}) %></li>
        <li><input type='text' placeholder='병원'></li>
        <li><input id='search_btn' type='button' value='검색' class='btn btn-primary'></li>
        <li><span class="text-muted"><small>현재 위치 선택</small></span></li>
        <li><input id='current_pos_btn' type='button' value='현재 위치' class='btn btn-primary'></li>
      </ul>
    </div><!--/.well -->

    <p>2013년 하반기 종합결과이며 현재 개발 중입니다. 1등급이 5등급보다 처방을 적게 하는 병원입니다. 등급이 낮을수록 처방률도 낮은 병원입니다.</p>
    <p>더 자세한 정보는 <a href='http://www.hira.or.kr/rec_infopub.hospinfo.do?method=listDiagEvl&pgmid=HIRAA030004000000' target='_new'>건강보험심사평가원</a>에서 볼 수 있습니다.</p>
  </div><!--/span-->
   <div class="col-sm-9">
    <section id='map_section'>
      <div id='map_canvas' class='map_view' data-url='<%= hospitals_path %>'></div>
      <div id='map_info'></div>
    </section>
    </div>
</div><!--/row-->

<%= content_for :script_in_page do %>
  <script id="map_info_template" type="text/x-jquery-tmpl">
    <div class='inner'>
      <h3>{{name}}
        <small class='icon-bookmark'> 항생제처방률 {{antibiotics}}등급</small>
        <small class='icon-bookmark'> 주사제처방률 {{injections}}등급</small>
        </h3>
      <p>
        <span class='address' style='margin-right:1em'><i class='icon-map-marker'></i> {{address}}</span>
        <span class='phone'><i class='icon-user'></i> {{phone}}</span>
      </p>
    </div>
  </script>
  <script type='text/javascript'>
    $(document).ready(function() {
      window.map = new Map({
        canvas: $('#map_canvas'),
        categories: ['antibiotics','injections'],
        data_url: '<%= hospitals_path %>',
        type: 'grade',
      });
      map.initialize();
    })
  </script>
<% end %>