<section class='hospitals index list'>

  <%- model_class = Hospital -%>
  <div class="page-header">
    <h1>
      병원 목록
      <%= content_tag :small, "전체 #{number_with_delimiter(Hospital.all.count)}건" %>
    </h1>
  </div>

  <div class='well'>
    <%= form_for hospitals_path, method: :get, html: { class: 'form-search', style: 'margin:0' } do |f| %>
      <div class='input-append'>
        <input type='text' name='search_name' value='<%= @search_name %>' placeholder='병원 이름' class='input-medium search-query'>
        <button type='submit'class='btn'>검색</button>
      </div>
    <% end %>
  </div>

  <p>1등급이 5등급보다 처방률이 낮습니다.</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>코드</th>
        <th>구분</th>
        <th>병원 이름</th>
        <th>주소</th>
        <th>연락처</th>
        <th>항생제 처방률</th>
        <th>주사제 처방률</th>
      </tr>
    </thead>
    <tbody>
      <% @hospitals.each do |hospital| %>
        <tr>
          <td><%= hospital.code %></td>
          <td><%= hospital.category %></td>
          <td><%= hospital.name %></td>
          <td><%= hospital.address %></td>
          <td><%= hospital.phone %></td>
          <td><%= hospital.antibiotics %>등급</td>
          <td><%= hospital.injections %>등급</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @hospitals %>

</section>