<section class='hospitals index list'>

  <%- model_class = Hospital -%>
  <div class="page-header">
    <h1>
      <%=t '.title', :default => model_class.model_name.human.pluralize %>
      <%= content_tag :small, Hospital.all.count %>
    </h1>
  </div>

  <p><%= @north_east %> ~ <%= @south_west %></p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:address) %></th>
        <th><%= model_class.human_attribute_name(:coordinates) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @hospitals.each do |hospital| %>
        <tr>
          <td><%= hospital.name %></td>
          <td><%= hospital.address %></td>
          <td><%= hospital.coordinates %></td>
          <td><%=l hospital.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @hospitals, :theme => 'twitter-bootstrap' %>

</section>