<section class='hospitals index list'>

  <%- model_class = Hospital -%>
  <div class="page-header">
    <h1>
      <%=t '.title', :default => model_class.model_name.human.pluralize %>
      <%= content_tag :small, "#{number_with_delimiter(Hospital.all.count)}건" %>
    </h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:address) %></th>
        <th><%= model_class.human_attribute_name(:phone) %></th>
        <th><%= model_class.human_attribute_name(:antibiotics) %></th>
      </tr>
    </thead>
    <tbody>
      <% @hospitals.each do |hospital| %>
        <tr>
          <td><%= hospital.name %></td>
          <td><%= hospital.address %></td>
          <td><%= hospital.phone %></td>
          <td><%= hospital.antibiotics %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @hospitals, :theme => 'twitter-bootstrap' %>

</section>